{% extends 'core/base.html' %}

{% block title %}Заказы{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2 class="mb-4">Список заказов</h2>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Пользователь</th>
                    <th>Дата</th>
                    <th>Адрес</th>
                    <th>Статус</th>
                    <th>Количество</th>
                    <th>Продукты в заказе</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.user }}</td>
                        <td>{{ order.date }}</td>
                        <td>{{ order.adress }}</td>
                        <td>{{ order.status }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>
                            <ul class="list-group">
                                {% for product_in_order in order.products.all %}
                                    <li class="list-group-item">
                                        {{ product_in_order.name }} -
                                        Цена: {{ product_in_order.price }} руб. -
                                        Количество: {{ product_in_order.quantity }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
