{% extends 'core/base.html' %}
{% block title %}Заказы{% endblock %}
{% block content %}
    <div class="container">
    <table class="table table-bordered">


    </table>
    <br>
    {% for order in orders %}
        Заказ:
        {{ order.user }} <br>
        {{ order.date }} <br>
        {{ order.adress }} <br>
        {{ order.status }} <br>
        {{ order.quantity }} <br>
        {% for product_in_order in order.products.all.values_list %}
            {{ product_in_order }} {{ product.price }} !!! {{ product.quantity }} !!! <br>
        {% endfor %}


    {% endfor %}

      </div>
{% endblock %}